<% provide(:page_title, 'Post_Edit') %>
<div class="hero-unit-trans" >

<h2>Edit The Post</h2>
<% if @post.errors.any? %>
<p>Error:</p>
<ul>
	<% @post.errors.full_messages.each do |err| %>
	<li><%=err %></li>
	<% end %>
</ul>
<% end %>
<%= form_for @post do |f| %>
<div class="control-group">
	
	<%= f.label "Title", :class =>"control-label", :for=>"inputTitle" %>
	 <div class="controls">
	<%= f.text_field :title, :id=>"inputTitle" %>
</div>
</div>
<div class="control-group">
	<%= f.label "Content", :class =>"control-label", :for=>"inputContent" %>
	 <div class="controls">
	<%= f.text_area :content,:rows=>"3", :id=>"inputContent" %>
</div>
</div>
<div class="control-group">
	<%= f.label "Author", :class =>"control-label", :for=>"inputAuthor" %>
	 <div class="controls">
	<%= f.text_field :auther,:id=>"inputAuthor" %>


</div>


</div>
<div class="control-group">
 <div class="controls">
 	<%= f.submit "Save the change", :class=>"btn btn-inverse" %>
	</div>
</div>

<% end %>


	</div>