<% provide(:page_title, 'Post_Create') %>
<div class="hero-unit-trans" >

<h2>Create a New Post</h2>
<% if @post.errors.any? %>
<% @notice="Error:" %>
<% @post.errors.full_messages.each do |err| %>
	<% @notice=@notice+"\n"+err %>
	<% end %>
<!--
<p>Error:</p>
<ul>
	<% @post.errors.full_messages.each do |err| %>
	<li><%=err %></li>
	<% end %>
</ul>
-->
<% end %>
<%= form_for @post do |f| %>
<div class="control-group">
	<div class="row-fluid">
	<%= f.label "Title", :class =>"control-label", :for=>"inputTitle" %>
	 <div class="controls">
	<%= f.text_field :title, :id=>"inputTitle" %>
</div>
</div>
</div>
<div class="control-group">
	<div class="row-fluid">
	<%= f.label "Content", :class =>"control-label", :for=>"inputContent" %>
	 <div class="controls">
	<%= f.text_area :content,:rows=>"3", :id=>"inputContent" %>
</div>
</div>
</div>
<div class="control-group">
	<div class="row-fluid">
	<%= f.label "Author", :class =>"control-label", :for=>"inputAuthor" %>
	 <div class="controls">
	<%= f.text_field :auther,:id=>"inputAuthor" %>
</div>

</div>


</div>
<div class="control-group">
 <div class="controls">
 	<%= f.submit "Create a new post", :class=>"btn btn-inverse"%>
	</div>
</div>

<% end %>


	</div>