<h1>Add a new post here!</h1>
<%= form_for @post do |f| %>
<% if @post.errors.any? %>
<h2>Error:</h2>
<ul>
	<% @post.errors.full_messages.each do |err| %>
	<li><%=err %></li>
	<% end %>
</ul>
<% end %>
<p>
	<%= f.label :title %><br>
	<%= f.text_field :title %>
</p>
<p>
	<%= f.label :content %><br>
	<%= f.text_area :content %>
</p>
<p>
	<%= f.label :auther %><br>
	<%= f.text_field :auther %>
</p>
<p>

	<%= f.submit "Submit a new post" %>
	</p>
	<% end %>